.podcasts {
    width: 35vw;
    height: 35vh;
    margin: 0 !important;
    backdrop-filter: blur(6px);
    background: rgba(18, 18, 18, .5) !important;
    border-radius: 10px !important;
    overflow: auto !important;
}

.selector {
    margin-left: 30px;
    margin-top: 5px;
}

.audioPlayCard {
    background: rgba(0, 0, 0, 0) !important;
    margin-top: 20px;
    border: none !important;
    border-radius: 0 !important;
    transition: box-shadow 0ms !important;
    box-shadow: none !important;
}

.MuiButtonBase-root {
    height: auto !important;
}